@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf9e9;
  color: #1c1c13;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.soft-hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.text-underline-expand {
  position: relative;
}
.text-underline-expand::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffb800;
  transition: width 0.3s ease;
}
.text-underline-expand:hover::after {
  width: 100%;
}

.elevation-l2 {
  box-shadow: 0 10px 30px rgba(124, 88, 0, 0.08);
}
